span.especial1{color: red}
hr{width:30%;
height: 8px;
background-color: blueviolet;}
h1.aaa{text-align: center;}
mark{background-color: aqua;}
aa.{
    height: 100px;cm;}
    img{height: 300px;
    width: 600px;}