h1{color: yellow;background-color: green; }
body{background-color: green;}
*{ color: red;}
p.parrafosprincipales{color: white;}
p.parrafospares{color:darkgoldenrod}
#parrafoh3{color: fuchsia;}
h3 mark{background-color: aqua;}